{% extends 'base.html.twig' %}

{% block title %}Add New System{% endblock %}

{% block body %}
    <h1>Add New System</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {# {{ form_row(form.createdAt) }} #}
    {{ form_end(form) }}
{% endblock %}
