/* body styles */
body {
  font-family: 'Roboto', sans-serif !important;
}


  /* navbar styles */
  .navbar {
    border-radius: 0;
  }
  
  .navbar-brand img {
    height: auto;
    max-width: 100%;
  }
  
  .nav-link {
    font-size: 16px;
  }
  
  /* sidebar styles */
  .sidebar {
    height: 100vh; 
    font-size: 12px !important;
    position: fixed;
    top: 0;
  }
  
  .sidebar-sticky {
    position: sticky;
    top: 0;
  }
  
  /* main styles */
  .main {
    margin-top: 60px;
  }
  
  /* button styles */
  .btn {
    border-radius: 0;
    font-size: 16px;
  }

  /* status div styles */
  .status-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }

  .slide-in-animation {
    animation: slide-in 1s ease-out;
  }

  .status-text {
    display: inline-block;
    vertical-align: middle;
  }

  .bg-success {
    background-color: #28a745;
  }

  .bg-warning {
    background-color: #ffc107;
  }

  .bg-danger {
    background-color: #dc3545;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
/* Calendar Styles */
#calendar {
  margin-top: 20px;
}

.table-bordered th{
  border: 1px solid #ccc;
}

.table-bordered th,
.table-bordered td {
  padding: 10px;
}

.table-bordered th.week-name {
  background-color: #d3d3d3;
}

.table-bordered .day {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.table-bordered .maintenance {
  padding: 5px;
  margin-top: 5px;
}

.table-bordered .today {
  background-color: #ffc107;
}

.btn-group {
  margin-top: 10px;
}

.btn-group .btn {
  border-radius: 0;
}

.inactive {
  background-color: #ccc;
}
h3{
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
  
}