{% extends 'base.html.twig' %}

{% block title %}Hello Users100Controller!{% endblock %}

{% block body %}
{# templates/some_template.html.twig #}

<a href="{{ path('register_users') }}" class="btn btn-primary">Register 100 Users</a>

{% endblock %}
