{% if is_granted('ROLE_ADMIN') %}
{% include 'headerAdmin.html.twig' %}
{% else %}
{% include 'headerUser.html.twig' %}
{% endif %}
<!--The body content-->
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% block body %}{% endblock %}
			</div>
		</div>
	</div>
	<!--The end Tags from Header.html.twig-->
	{% include 'endHeaderTag.html.twig' %}





</body>
<!--The footer.html.twig-->
{% include 'footer.html.twig' %}