<!DOCTYPE html>
<html lang="tiwig">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>System Status</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <style>
         /* Custom CSS */
         html {
         position: relative;
         min-height: 100%;
         }
         body {
         margin-bottom: 60px; /* Set the height of the footer */
         }
         footer {
         position: absolute;
         bottom: 0;
         width: 100%;
         height: 60px; /* Set the height of the footer */
         }
      </style>
   </head>
   <body>
      <footer class="bg-dark text-light">
         <div class="container py-3">
            <div class="row">
               <div class="col-md-12 text-center">
                  <p class="mb-0">&copy; Anton Paar 2023</p>
               </div>
            </div>
         </div>
      </footer>