{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!{% endblock %}

{% block body %}
<h1>System Maintenance Notification</h1>
    <p>Hello ,</p>
    <p>The system will be under maintenance from 10pm to 2am. We apologize for the inconvenience.</p>
    <p>Thank you for your understanding.</p>
{% endblock %}
